html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #000;
}

#gameArea {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    margin-top: -250px;
    margin-left: -250px;
    background-color: #fff;
}

#gameCanvas{
	width: 100%;
    height: 100%;
    background-color: #000;
}